amino==13.0.1
beautifulsoup4==4.9.3
certifi==2020.4.5.1
chardet==3.0.4
crystalmethod==3.0.0
cycler==0.10.0
document==1.0
docx==0.2.4
et-xmlfile==1.1.0
golgi==2.0.1
idna==2.7
kiwisolver==1.3.2
lenses==0.4.0
lxml==4.5.1
matplotlib==3.4.3
mysqlclient==2.0.3
numpy==1.20.3
openpyxl==3.0.8
pandas==1.2.4
Pillow==8.3.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.19.1
singledispatch==3.6.2
six==1.16.0
soupsieve==2.2.1
tek==4.1.1
toolz==0.11.1
urllib3==1.23
